<div class="article">
	
    <h1>CUE template</h1>
			
    <div class="page-options" id="pre-page-options"><ul>
        <!--
            Add a 'Printable version' link to pages that represent a page from a multi-page article.
            The link should point to a HTML version of the full article or a non-HTML document.
            When a 'Printable version' link is present, the 'Print' option is automatically supressed.
        -->
        <!-- <li><a href="index.html" title="Printable version (all article pages together)">Printable version</a></li> -->
        <li><a href="http://www.qld.gov.au/share/">Share</a>
        <!-- to customise the list of share options, add them manually here -->
        <!-- <ul>
            <li><a href="http://www.qld.gov.au/share/?via=twitter">Twitter</a></li>
            <li><a href="http://www.qld.gov.au/share/?via=facebook">Facebook</a></li>
            <li><a href="http://www.qld.gov.au/share/?via=reddit">Reddit</a></li>
            <li><a href="http://www.qld.gov.au/share/?via=digg">Digg</a></li>
            <li><a href="http://www.qld.gov.au/share/">More...</a></li>
        </ul>--></li>
        <li><a href="http://www.qld.gov.au/help/feeds/">Subscribe</a><ul>
            <li><a href="#">RSS feed</a></li>
            <li><a href="#">Atom feed</a></li>
            <li><a href="#">Email newsletter</a></li>
        </ul></li>
    </ul></div>
    
    <div class="section" id="section-introduction">
	    <p>Welcome to the CUE 3.0 template!</p>
    	
    	<p>Use the 'Themes' and 'Page models' items from the site navigation menu to preview different variants that are included with the CUE template.</p>
    </div>
    
    <div class="section" id="section-documentation">
        <h2>Documentation</h2>
        <p>The following template documentation is also available:</p>
        <ul>
            <li><a href="../../docs/cue-template-change-log.doc" class="download"><span class="title">Template change log</span><span class="meta"> (DOC, 72 KB)</span></a></li>
            <li><a href="../../docs/cue-template-conformance-requirements.doc" class="download"><span class="title">Template conformance requirements</span><span class="meta"> (DOC, 95 KB)</span></a></li>
            <li>Implementation advice:<ul>
                <li><a href="../../docs/cue-how-to-customise-the-template.doc" class="download"><span class="title">How to customise the template</span><span class="meta"> (DOC, 90 KB)</span></a></li>
                <li><a href="../../docs/cue-template-reset-styles.doc" class="download"><span class="title">CUE template reset styles</span><span class="meta"> (DOC, 49 KB)</span></a></li>
            </ul></li>
        </ul>
    </div>
	
    
    <div class="section" id="section-more-info">
        <h2>More information</h2>
        <p>More information is available on the <a href="http://ssq.govnet.qld.gov.au/web/">Queensland Government WebCentre</a>
        	or by contacting the Smart Service Queensland <a href="onlineservices@smartservice.qld.gov.au">Online Services Unit</a>.</p>
    </div>
    
</div>