#access {
	background: #000;
	color: #fff;
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	clear: both;
	font-size: 80%;
	text-align: left;
}
#access ul {
	list-style-type: none;
	margin: 0; padding: 0;
}
#access li {
	float: left;
}
#access a {
	float: left;
	display: block;
	color: #fff;
	padding: .2em .5em;
	margin: .2em .5em .3em;
	
	/* Hidden offscreen till focused */
	position: absolute;
	left: -9999px;
}

#access a:focus,
#access.visible a {
	position: static;
}