.list_trucks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.truck {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    text-align: center;
    margin: 5px;
    padding: 10px;
    background: #eaeaea;
}

.truck:hover {
    background: #cacaca;
}

.rate {
    height: 46px;
    padding: 0 10px;
    border-bottom-style: solid;
    border-color: rgba(212, 212, 212, 0.5);
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.content_header {
    text-align: center;
}

.content_header h1 {
    text-align: left;
}

.content_header img {
    width: 100%;
}

.user {
    text-align: right;
    margin: 0;
}

textarea {
    width: 100%;
    resize: none;
    height: 100px;
}

.create_comments {
    border: solid;
    padding: 10px;
}

#content-container {
    padding: 20px;
    background: white;
}

.submit button {
}

.submit {
    text-align: right!important;
    padding: 10px;
}