<div class="article">
	<h1>Applications</h1>
    
    <div class="section" id="section-layout">
        <h2>Layout</h2>
        <p>Web applications should use the centre column layout (as per this example) 
        unless more space is required (for example: an application that requires large maps).</p>
    </div>
    
    <div class="section" id="section-navigation">
        <h2>Navigation</h2>
        <p>If the application is integrated into a website then site navigation should appear
        identical to the rest of the website. Similarly, if the application is part of a 
        section of a website, then the section navigation column should appear consistent 
        with other pages in that section.</p>
    </div>
    
    <div class="section" id="section-standalone">
        <h2>Standalone applications</h2>
        <p>If the applicaton stands alone independent of a website the site navigation bar may 
        be removed (as per this example). In this case, the left column may be used for a short
        summary or overview of the application.</p>
    </div>
    
    <div class="section" id="section-asides">
        <h2>Asides</h2>
        <p>The asides column can be used for supplementary or related information. For applications
        with "shopping" functionality, it is common for "shopping cart" to appear as the first aside
        in the asides column.</p>
    </div>
    
</div>