<div class="article">
	
	<h1>Heading 1</h1>
			
    <div class="page-options" id="pre-page-options"><ul>
        <!--
            Add a 'Printable version' link to pages that represent a page from a multi-page article.
            The link should point to a HTML version of the full article or a non-HTML document.
            When a 'Printable version' link is present, the 'Print' option is automatically supressed.
        -->
        <!-- <li><a href="index.html" title="Printable version (all article pages together)">Printable version</a></li> -->
        <li><a href="http://www.qld.gov.au/share/">Share</a>
        <!-- to customise the list of share options, add them manually here -->
        <!-- <ul>
            <li><a href="http://www.qld.gov.au/share/?via=twitter">Twitter</a></li>
            <li><a href="http://www.qld.gov.au/share/?via=facebook">Facebook</a></li>
            <li><a href="http://www.qld.gov.au/share/?via=reddit">Reddit</a></li>
            <li><a href="http://www.qld.gov.au/share/?via=digg">Digg</a></li>
            <li><a href="http://www.qld.gov.au/share/">More...</a></li>
        </ul>--></li>
        <li><a href="http://www.qld.gov.au/help/feeds/">Subscribe</a><ul>
            <li><a href="#">RSS feed</a></li>
            <li><a href="#">Atom feed</a></li>
            <li><a href="#">Email newsletter</a></li>
        </ul></li>
    </ul></div>
    
    <h2>Heading 2</h2>
    <p>Consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
    
    <h3>Heading 3</h3>
    <p>Consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
    
    <h4>Heading 4</h4>
    <ul>
        <li>Unordered list item 1</li>
        <li>Unordered list item 2<ul>
            <li>Unordered list item 2.1<ul>
                <li>Unordered list item 2.1.1</li>
                <li>Unordered list item 2.1.2</li>
            </ul></li>
            <li>Unordered list item 2.2</li>
        </ul></li>
        <li>Unordered list item 3</li>
        <li>Unordered list item 4</li>
    </ul>
    
    <h5>Heading 5</h5>
    <ol>
        <li>Ordered list item 1</li>
        <li>Ordered list item 2</li>
        <li>Ordered list item 3</li>
        <li>Ordered list item 4<ol>
            <li>Ordered list item 4.1</li>
            <li>Ordered list item 4.2</li>
        </ol></li>
    </ol>
    
    
    <h6>Heading 6</h6>
    <dl>
        <dt>Definition 1</dt>
        <dd>Aenean massa. Cum <a href="http://localhost/cue-3-drop-down-menu-v0.3/">sociis natoque penatibus</a> et magnis dis parturient montes, nascetur ridiculus mus.</dd>
        <dt>Definition 1</dt>
        <dd>Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.</dd>
        <dt>Definition 1</dt>
        <dd>Consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</dd>
    </dl>
    
    
    <p>A quote:</p>
    <blockquote>
        <p>"The top guideline of all is to simply recognize the nature of the Web: People will use your copy differently than you expect, and you should try to write with this fact of online life in mind."</p>
    </blockquote>
    <p><cite>Jakob Nielsen</cite></p>
    
    
    <table id="history-of-qld-premiers"> 
        <caption>History of Queensland Premiers</caption>
        <thead> 
            <tr> 
                <th scope="col" id="period-served">Period served</th> 
                <th scope="col" id="premier">Premier</th> 
            </tr> 
        </thead> 
        <tbody> 
            <tr> 
                <td>10/12/1859 – 01/02/1866</td> 
                <td>Robert George Wyndham Herbert</td> 
            </tr> 
            <tr class="even"> 
                <td>01/02/1866 – 20/07/1866</td> 
                <td>Arthur Macalister</td> 
            </tr> 
            <tr> 
                <td>20/07/1866 – 07/08/1866</td> 
                <td>Robert George Wyndham Herbert</td> 
            </tr> 
            <tr class="even"> 
                <td>07/08/1866 – 15/08/1867</td> 
                <td>Arthur Macalister</td> 
            </tr>
        </tbody>
    </table>
</div>