{% extends "base.html" %}

{% block section_heading %}
    <h2>Sign Up</h2>
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form action="/add_user" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="text" id="password" name="password"><br><br>
        <label>Own Food Truck</label><br>
        <label for="truck_yes">Yes</label>
        <input type="radio" id="truck_yes" name="own_truck" value="yYes"><br>
        <label for="truck_no">No</label>
        <input type="radio" id="truck_no" name="own_truck" value="No"><br><br>
        <label for="name">Name Of Food Truck:</label>
        <input type="text" name="food_tuck" id="name"><br><br>
        <button type="submit" value="login" name="type">Login</button>
        <button type="submit" value="add_user" name="type">Sign Up</button>
    </form>
{% endblock %}

{% block title %}
    <title>Login</title>
{% endblock %}