{% extends "base.html" %}

{% block section_heading %}
    <h2>Login</h2>
{% endblock %}

{% block content %}
    <form action="/login" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="text" id="password" name="password">
        <button type="submit" value="login" name="type">Login</button>
        <button type="submit" value="add_user" name="type">Sign Up</button>
    </form>
{% endblock %}

{% block title %}
    <title>Login</title>
{% endblock %}