{% extends "base.html" %}

{% block section_heading %}
    <h2>Food Trucks</h2>
{% endblock %}

{% block content %}
        {% for value in data %}
            <a href="{{ url_for('option_truck' ,option=value["api_key"]) }}">
                <div class="truck">
                    <h3>{{ value['name'] }}</h3>
                    <img src="{{ value['picture'] }}" alt="{{ value['name'] }}">
                </div>
            </a>
        {% endfor %}
{% endblock %}

{% block title %}
    <title>Food Trucks</title>
{% endblock %}