{% extends "base.html" %}

{% block section_heading %}
    <h2>Food Trucks</h2>
{% endblock %}

{% block content %}
    <input type="text" id="search_filter" onkeyup="filter()" placeholder="Search for names.." title="Type in a name">
    <div class="list_trucks">
        {% for value in data %}
            <a href="{{ url_for('option_truck', option=value["api_key"]) }}">
                <div class="truck">
                    <h3>{{ value['name'] }}</h3>
                    <img src="{{ value['picture'] }}" alt="{{ value['name'] }}">
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}

{% block title %}
    <title>Food Trucks</title>
{% endblock %}

{% block top_nav %}
    <ul>
        <li><a href="{{ url_for('main') }}">Home</a></li>
        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>

        {% else %}
            <li><a href="{{ url_for('login_router') }}">Login</a></li>
        {% endif %}
        {% if current_user.rank == 'admin' %}
            <li><a href="{{ url_for('stats') }}">Stats</a></li>
        {% endif %}
    </ul>
    {% if current_user.is_authenticated %}
        <h5 class="user">Hello {{ current_user.username }}</h5>
    {% endif %}
{% endblock %}