{% extends "base.html" %}

{% block section_heading %}
    <h2>{{ data['name'] }}</h2>
{% endblock %}

{% block content %}
    <div class="content_header">
        <h1>{{ data['name'] }}</h1><br>
        <img src="{{ data['cover_photo']['src'] }}" alt="Cover Photo">

    </div>
{% endblock %}

{% block title %}
    <title>Food Trucks</title>
{% endblock %}

{% block top_nav %}
    {% if current_user.is_authenticated %}
        <h5 class="user">Hello {{ current_user.username }}</h5>
    {% endif %}
    <ul>
        <li><a href="{{ url_for('main') }}">Home</a></li>

        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ url_for('login_router') }}">Login</a></li>
        {% endif %}
    </ul>
{% endblock %}