{% extends "base.html" %}

{% block section_heading %}
    <h2>{{ data['name'] }}</h2>
{% endblock %}

{% block content %}
    <div class="content_header">
        <h1>{{ data['name'] }}</h1><br>
        <img src="{{ data['cover_photo']['src'] }}" alt="Cover Photo">
    </div>
    <div>
        <h6>Average Speed Vote: {{ avrage["speed"] }}</h6>
        <h6>Average Quality Vote: {{ avrage["quality"] }}</h6>
        <h6>Average Money Vote: {{ avrage["money"] }}</h6>
    </div>
    <div class="comments">
        <h4>Comments</h4>
        {% for item in truck_comments %}
            <p>{{ item.comment }}</p>
        {% endfor %}
    </div>
{% endblock %}

{% block title %}
    <title>Food Trucks</title>
{% endblock %}

{% block top_nav %}
    <ul>
        <li><a href="{{ url_for('main') }}">Home</a></li>

        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ url_for('login_router') }}">Login</a></li>
        {% endif %}
    </ul>
    {% if current_user.is_authenticated %}
        <h5 class="user">Hello {{ current_user.username }}</h5>
    {% endif %}
{% endblock %}