{% extends "base.html" %}

{% block section_heading %}
    <h2>{{ data['name'] }}</h2>
{% endblock %}

{% block content %}
    <div>
        <div class="content_header">
            <h1>{{ data['name'] }}</h1><br>
            <img src="{{ data['cover_photo']['src'] }}" alt="Cover Photo">
            <h6><q><b>"</b>{{ data['bio'] }}<b>"</b></q></h6>
        </div>
        <div class="create_comments">
            <form action="">
                <div class="rate">
                    <h5>Speed of Service</h5>
                    <input type="radio" id="star5_speed" name="speed" value="5"/>
                    <label for="star5_speed" title="text">5 stars</label>
                    <input type="radio" id="star4_speed" name="speed" value="4"/>
                    <label for="star4_speed" title="text">4 stars</label>
                    <input type="radio" id="star3_speed" name="speed" value="3"/>
                    <label for="star3_speed" title="text">3 stars</label>
                    <input type="radio" id="star2_speed" name="speed" value="2"/>
                    <label for="star2_speed" title="text">2 stars</label>
                    <input type="radio" id="star1_speed" name="speed" value="1"/>
                    <label for="star1_speed" title="text">1 star</label>
                </div><br>
                <div class="rate">
                    <h5>Quality and taste</h5>
                    <input type="radio" id="star5" name="rate" value="5"/>
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4"/>
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3"/>
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2"/>
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1"/>
                    <label for="star1" title="text">1 star</label>
                </div><br>
                <div class="rate">
                    <h5>Value for money</h5>
                    <input type="radio" id="star5" name="rate" value="5"/>
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4"/>
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3"/>
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2"/>
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1"/>
                    <label for="star1" title="text">1 star</label>
                </div><br><br>
                <label>Comment:
                    <textarea maxlength='128' id="toCount">
                        Comment here...
                    </textarea>
                    <p>The number of words is <span id="wordCount"></span></p>
                </label>
            </form>
        </div>
        <div class="comments">
            <h6>comments</h6>
        </div>
    </div>
{% endblock %}

{% block title %}
    <title>Food Trucks</title>
{% endblock %}

{% block top_nav %}
    <ul>
        <li><a href="{{ url_for('main') }}">Home</a></li>

        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ url_for('login_router') }}">Login</a></li>
        {% endif %}

        {% if current_user.rank == 'admin' %}
            <li><a href="{{ url_for('stats') }}">Stats</a></li>
        {% elif current_user.rank == 'truck' and data["truck_id"] == current_user.owner_truck_id %}
            <li><a href="{{ url_for('stats') }}">Truck Stats</a></li>
        {% endif %}
    </ul>
    {% if current_user.is_authenticated %}
        <h5 class="user">Hello {{ current_user.username }}</h5>
    {% endif %}
{% endblock %}