{% extends "base.html" %}

{% block section_heading %}
    <h2>{{ data['name'] }}</h2>
{% endblock %}

{% block content %}
    <div>
        <div class="content_header">
            <h1>{{ data['name'] }}</h1><br>
            <img src="{{ data['cover_photo']['src'] }}" alt="Cover Photo">
            <h6><q><b>"</b>{{ data['bio'] }}<b>"</b></q></h6>
        </div>
        <div class="create_comments">
            <form action="/comment_create" method="post">
                <div class="rate">
                    <input type="radio" id="star5_speed" name="speed" value="5" required/>
                    <label for="star5_speed" title="text">5 stars</label>
                    <input type="radio" id="star4_speed" name="speed" value="4"/>
                    <label for="star4_speed" title="text">4 stars</label>
                    <input type="radio" id="star3_speed" name="speed" value="3"/>
                    <label for="star3_speed" title="text">3 stars</label>
                    <input type="radio" id="star2_speed" name="speed" value="2"/>
                    <label for="star2_speed" title="text">2 stars</label>
                    <input type="radio" id="star1_speed" name="speed" value="1"/>
                    <label for="star1_speed" title="text">1 star</label>
                    <h5>Speed of Service</h5>
                </div><br>
                <div class="rate">
                    <input type="radio" id="star5_quality" name="quality" value="5" required/>
                    <label for="star5_quality" title="text">5 stars</label>
                    <input type="radio" id="star4_quality" name="quality" value="4"/>
                    <label for="star4_quality" title="text">4 stars</label>
                    <input type="radio" id="star3_quality" name="quality" value="3"/>
                    <label for="star3_quality" title="text">3 stars</label>
                    <input type="radio" id="star2_quality" name="quality" value="2"/>
                    <label for="star2_quality" title="text">2 stars</label>
                    <input type="radio" id="star1_quality" name="quality" value="1"/>
                    <label for="star1_quality" title="text">1 star</label>
                    <h5>Quality and taste</h5>
                </div><br>
                <div class="rate">
                    <input type="radio" id="star5_money" name="money" value="5" required/>
                    <label for="star5_money" title="text">5 stars</label>
                    <input type="radio" id="star4_money" name="money" value="4"/>
                    <label for="star4_money" title="text">4 stars</label>
                    <input type="radio" id="star3_money" name="money" value="3"/>
                    <label for="star3_money" title="text">3 stars</label>
                    <input type="radio" id="star2_money" name="money" value="2"/>
                    <label for="star2_money" title="text">2 stars</label>
                    <input type="radio" id="star1_money" name="money" value="1"/>
                    <label for="star1_money" title="text">1 star</label>
                    <h5>Value for money</h5>
                </div><br><br>
                <label>Comment:
                    <textarea maxlength='128' name="comment"></textarea>
                </label><br><br>
                <div class="submit">
                    <button type="submit" name="truck" value="{{ data["truck_id"] }}">Submit</button>
                </div>
            </form>
        </div>
        <div class="comments">
            <h4>Comments</h4>
            {% for item in truck_comments %}
                <p>{{ item.comment }}</p>
            {% endfor %}

        </div>
    </div>
{% endblock %}

{% block title %}
    <title>Food Trucks</title>
{% endblock %}

{% block top_nav %}
    <ul>
        <li><a href="{{ url_for('main') }}">Home</a></li>

        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ url_for('login_router') }}">Login</a></li>
        {% endif %}

        {% if current_user.rank == 'admin' %}
            <li><a href="{{ url_for('stats') }}">Stats</a></li>
        {% elif current_user.rank == 'truck' and data["truck_id"] == current_user.owner_truck_id %}
            <li><a href="{{ url_for('stats') }}">Truck Stats</a></li>
        {% endif %}
    </ul>
    {% if current_user.is_authenticated %}
        <h5 class="user">Hello {{ current_user.username }}</h5>
    {% endif %}
{% endblock %}