<div class="article">
	
    <h1>Accessibility</h1>
    
    <div class="section" id="section-introduction">
        <p>The Queensland Government supports the World Wide Web Consortium's (W3C)
            <a href="http://www.w3.org/TR/WCAG/">Web Content Accessibility Guidelines 2.0</a> and the Queensland Government 
            <a href="http://www.qgcio.qld.gov.au/qgcio/architectureandstandards/informationstandards/current/Pages/Internet.aspx">Information Standard 26: Internet</a>.</p>
            
        <p>The Queensland Government strives to make its public web resources compatible with a range of 
            browsers, devices, assistive technologies and operating systems. This is achieved by developing 
            web resources according to International web standards and best practice, and regular testing 
            across a range of different browsers.</p>
    </div>
    
    <div class="section" id="section-browsers">
    	<h2>Browser support</h2>
        <p>The content on the page you came from is accessible to all browsers and internet devices, 
        	but may not display well in browsers which do not comply with these standards. If you are 
            experiencing problems with any of our pages, please 
            <span class="highlight"><a href="/contact/">let us know</a> [link to agency contact form or page]</span></p>
    </div>
    
    <div class="section" id="section-accessibility">
    	<h2>Accessibility features</h2>
    	<p>The accessibility features available on this site include:</p>
        <ul>
            <li>access keys to access certain information using your keyboard</li>
            <li>skip links and a logical tab order to navigate using assistive technologies</li>
            <li>W3C <a href="http://www.w3.org/WAI/intro/aria">Accessible Rich Internet Applications</a> 
            (ARIA) roles, states and properties for page landmarks and interactive components</li>
            <li>Keyboard navigation for menus and interactive components as per ARIA recommendations.</li>
        </ul>
    </div>
    
    <div class="section" id="section-keyboard">
    	<h2>Keyboard navigation</h2>
    	<p>Menus and interactive elements on the this website can be navigated using key combinations 
        	recommended by the WC3 ARIA standard.</p>
        <ul>
            <li>use the <kbd>tab</kbd> key to enter a menu or interactive element as part of the tab order for the page</li>
            <li>use the arrow keys to move focus between the different menu items or controls within the element; and</li>
            <li>use the <kbd>Enter</kbd> key to activate a focused control or menu item</li>
            <li>use the <kbd>tab</kbd> key to move to the next menu or to leave the interactive element.</li>
        </ul>
    </div>
    
    <div class="section" id="section-access-keys">
        <h2>Access keys</h2>
        <p>Access keys enable users to bring focus to page elements using the keyboard. 
        	This may assist those with motor skill difficulties and prove a convenience to all.</p>
        <ul>
            <li><kbd>1</kbd>: www.qld.gov.au</li>
            <li><kbd>2</kbd>: Website home</li>
            <li><kbd>3</kbd>: Site map</li>
            <li><kbd>4</kbd>: Contact us</li>
            <li><kbd>5</kbd>: Search</li>
            <li><kbd>6</kbd>: not in use</li>
            <li><kbd>7</kbd>: not in use</li>
            <li><kbd>8</kbd>: not in use</li>
            <li><kbd>9</kbd>: not in use</li>
            <li><kbd>0</kbd>: not in use.</li>
        </ul>
        
        <h3>How to use access keys</h3>
        <p><strong>If you are using a Windows computer:</strong> press <kbd>Alt</kbd> and the access key number to highlight the link. Press <kbd>Enter</kbd> to go to the linked page.</p>
        <p><strong>If you are using Macintosh computer:</strong> press <kbd>control</kbd> and the access key number to highlight the link, then press <kbd>return</kbd> to go to the linked page.</p>
		
    </div>
</div>
